@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    min-height: 100vh;
    align-items: center;
    font-family: "League Spartan";
   background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
   background-repeat: no-repeat, no-repeat;
   background-position: left 10vw top 0vh, right 0vw bottom 0vh;
   padding: 50px ;
   background-color: hsl(0, 0%, 100%);
  }

  .info, .rate-info, .person-info, .user{
    display: flex;
    align-items: center;
  }

  .app{
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 50px;
  }

  .info{
    justify-content: space-between;
  }

  .info-h1{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    color: hsl(300, 43%, 22%);
    width: 250px;
  }

  .info-para{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: hsl(303, 10%, 53%);
    width: 350px;
    padding: 30px 0px;
  }

  .rate-info{
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
   padding: 15px;
   margin-top: 15px;
   width: 400px;
  }

  .star-info1{
    margin-left: 10%;
  }

  .star-info2{
    margin-left: 20%;
  }

  .star-para{
    font-size:20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color:hsl(300, 43%, 22%);
    padding-left: 20px;
  }

  .user{
    margin-top: 90px;
  }

  .person{
    background-color: hsl(300, 43%, 22%);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 340px;
  }

  .person-img{
    border-radius: 100%;
    width: 50px;
  }

  .name{
    padding-left: 30px;
  }

  .name-h2{
    font-size:20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color:hsl(0, 0%, 100%);
    padding: 2px;  
  }

  .name-para{
    font-size:15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color:hsl(333, 80%, 67%);
    padding: 2px; 
  }

  .person-para{
    font-size:15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color:hsl(0, 0%, 100%);
    padding: 20px 0px;
    width: 85%;
  }

  .people{
    margin-top: 5%;
  }

  .people1{
    margin-top: 10%;
  }

  .foot {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color:  hsl(300, 43%, 22%);
    margin: 50px 20px;
  }
  
  .foot a {
    text-decoration: none;
    color:  hsl(228, 45%, 44%);
  }

  @media screen and(max-width:1000px) {
    .app{
        margin: 50px 10px;
        padding: 50px 10px;
    }
  }


  @media screen and (max-width: 768px) {
    .info, .rate-info,  .user{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .app{
        width: auto;
      }

      .star-info1, .star-info2{
        margin-left: 0%;
      }

      .info-h1{
        margin-left: 10%;
      }

      .people1{
        margin-top: 5%;
      }

      .star-para{
        margin-top: 5%;
      }

      .person-para{
        text-align: start;
      }

      .foot{
        text-align: start;
      }
  }

  @media screen and (max-width:450px) {
    .rate-info{
        width:350px;
    }
  }

  @media screen and (max-width:450px) {
    .rate-info, .person, .info-para{
        width: 250px;
    }

    .info-h1{
        margin-left: 5%;
    }
  }